@import "tailwindcss";
html,body{
    overflow-x: hidden;
}
#btn1{
    background-color: rgb(0, 0, 0);
    width: 15%;
    color: white;
    border: none;
    padding: 2px;
    text-align: center;
    cursor: pointer;
}
#navbar{
    background-color: #ffffff;
}
#hello{
    background-color: rgba(2, 66, 2, 0.45);
}